<p>clientside works!</p>

    <div class="form-group">
    <label>Login</label>
    <br>
    <input type="text" name="login" [(ngModel)]="user.login" >
    <br>
    <label>Password</label>
    <br>
    <input type="text" name="password" [(ngModel)]="user.password">
    <br>
    <input type="button" (click)="submit(user)" value="Send">
  </div>
  
  <div *ngIf="done">
    <div>Recieved from server:</div>
    <div>Login: {{receivedUser?.login}}</div>
    <div>Password: {{receivedUser?.password}}</div>
  </div>
