<h3>{{s1}}</h3>
<h3>{{s2}}</h3>
<h3>{{s3}}</h3>
<h3>{{s4}}</h3>
<hr>
<a href="https://uk.wikipedia.org/wiki/%D0%91%D1%96%D0%BB%D0%BB_%D0%93%D0%B5%D0%B9%D1%82%D1%81">Википедия</a>
<hr>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Visit_of_Bill_Gates%2C_Chairman_of_Breakthrough_Energy_Ventures%2C_to_the_European_Commission_5_%28cropped%29.jpg/267px-Visit_of_Bill_Gates%2C_Chairman_of_Breakthrough_Energy_Ventures%2C_to_the_European_Commission_5_%28cropped%29.jpg">
<p>Краткая биография - почему эта дичь  не выводится?</p>