 li.selected {
    background-color: rgb(143, 187, 130);
    color: white;
    
    }
     li.selected:hover {
    background-color: rgb(118, 155, 106);
    }
    input{
        background-color: lightgoldenrodyellow;
        height: 50px;
        width: 100px;
        border: none;
        font-size: 20px;
    }
   li{
    font-size: 20px;
   }