li{
    display: inline;
    margin-left: 15px;
    box-shadow: 10px 10px 15px 10px #ffffb3
}

body{
    background-color: lightyellow;
}
button{
    border: none;
    background-color: lightyellow;
}
button.selected {
   transition: 0.1s;
   scale: 1.5;
    }
    span{
        font-size: 18px;
        font-weight: bold;
        color:brown
    }
    p{
        font-size: 17px;
        font-weight: 600;
        color:#785807
    }
    s1{
        font-size: 17px;
        color:blue
    }