
li{
    font-size: 20px;
    color:brown;

}
ul{
    list-style: none;
    background-color: bisque;
    border-radius: 5px;
    width: 220px;
}
button{
    background-color:darkred;
    color:black;
    font-size: bold;
    height: 55px;
    width: 100px;
    font-size: 21px;
    border-radius: 5px;
    margin-left: 4px;
}
input{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: brown;
    border-color: lightsalmon;
    border-radius: 5px;
}